.HeaderStyle{
    vertical-align:middle;
    height: 100%;
    position: relative;
}
.styleNavimage1{
    padding: 8px;
    border: 1px solid  rgb(94, 119, 75) ;
    margin-left: 8px;
    position: absolute;
    margin-top: 3px;
    left: 10px;
}
.styleNavimage2{
    padding: 8px;
    border: 1px solid  rgb(94, 119, 75) ;
    margin-left: 8px;

    margin-top: 3px;
    position: absolute;
    left:62px;
}

.createdby{
    position: absolute;
    right: 10px;
    margin: 0;
    
}