.product-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}

.product-table th, .product-table td {
    border: 3px solid #c6c2c2;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #b7bbbc;
}